{% comment %}
    Renders cart drawer

    Usage:
    {% render 'cart-drawer' %}
{% endcomment %}

<script src="{{ 'invoice_cart.js' | asset_url }}" defer="defer"></script>

<style>
  .cart-drawer-container {
    visibility: hidden;
  }
</style>

<style>

  .invoice-request {
      text-align: center;
      margin-bottom: 20px;
  }
  
  .invoice-details-form {
    display: grid;
    margin-top: 10px;
    margin-bottom: 25px;
    justify-content: center;
    grid-gap: 10px;
  }

  .campi-fattura {
    display: grid;
    grid-gap: 2px;
  }

  .input-fattura {
    padding: 10px;
    width: 300px;
  }

  .btn.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #ccc;
    color: #666;
  }
  
  @media (max-width: 576px){
    
    .input-fattura {
        width: 230px;
    }

    .campi-fattura {
      grid-gap: 5px;
    }

    .invoice-details-form {
      grid-gap: 25px;
    }
    
}

</style>
<!-- Form fattura -->
          <div id="invoice-details-form" class="invoice-details-form" style="display: none; margin-top: 10px;">
            <div class="campi-fattura">
              <label for="company-name">{{ 'customloc.fatture.company_name_label' | t }}</label>
              <input
                type="text"
                id="company-name"
                class="input-fattura"
                name="attributes[company_name]"
                placeholder="{{ 'customloc.fatture.company_name_placeholder' | t }}"
                form="CartDrawer-Form"
              >
            </div>
        
            <div class="campi-fattura">
              <label for="vat-number">{{ 'customloc.fatture.vat_number_label' | t }}</label>
              <input
                type="text"
                id="vat-number"
                class="input-fattura"
                name="attributes[vat_number]"
                placeholder="{{ 'customloc.fatture.vat_number_placeholder' | t }}"
                form="CartDrawer-Form"
              >
            </div>
        
            <div class="campi-fattura">
              <label for="sdi-code">{{ 'customloc.fatture.sdi_code_label' | t }}</label>
              <input
                type="text"
                id="sdi-code"
                class="input-fattura"
                name="attributes[sdi_code]"
                placeholder="{{ 'customloc.fatture.sdi_code_placeholder' | t }}"
                form="CartDrawer-Form"
              >
            </div>
          </div>

          <button
            type="submit"
            id="CartDrawer-Checkout"
            class="btn w-full"
            name="checkout"
            form="CartDrawer-Form"
            {% if cart == empty %}class="input-fattura"
              disabled
            {% endif %}
          >
            {{ 'sections.cart.checkout' | t }}
          </button>


